
 /* color palette #CE6A6C  #EBADA1  #BED3C3 #4B919E #222F53 */

body {
  height: 100vh;
  background-color:  #BED3C3;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222F53;
  border: 5px dotted;
  border-color: #4B919E;
}

div{
height: 35px;
font-size: 16px;
}

.container {
    
}

